<h1>Welcome to your cookbook manager </h1>

<h2>What do you want to do ? </h2>

<ul>
  <li><a href="http://localhost:4567/index">check your recipes</a></li>
  <li><a href="http://localhost:4567/new">Add a recipe ?</a></li>
  <li><a></a></li>
</ul>