<h1>Welcome to your <em>recipe</em> list  ! </h1>

<ul>
<% @recipe.each_with_index do |recipe, index| %>
  <li>
  <form action="/recipes">
    <%= "#{index+1} <> #{recipe.description} || rating is  #{recipe.rating}/5 || #{recipe.prep_time}" %>

    <%# function is launched because "/delete" in our app.rb %>
    <input type="submit" name="index" value="<%=index+1%>">
    
  </form>
    

  </li>


<% end %>

</ul>

