
<form action="/recipes" method="post">
<%# action refers to the app.rb
methode = POST %>
  <div>
    <input name="recipe_name" placeholder="Recipe">
    <label for="recipe">Enter your recipe name </label>
  </div>


  <div>
    <input name="recipe_description" name="recipe_name" placeholder="description">
    <label for="description">Enter your recipe description</label>
  </div>


  <div>
    <input name="recipe_rating" placeholder="rating">
    <label for="rating">Enter your recipe rating </label>
  </div>


  <div>
    <input name="recipe_prep_time" placeholder="prep time">
    <label for="prep_time">Enter your recipe prep time </label>
  </div>
  <input type="submit" value ="submit">

</form>
